body{
    margin: 0px;
    border: 0px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: black;
}

h1, h4, p{
    color: darkgrey;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.timerDiv{
    width: 100vw;
    height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#timer{
    width: 100vw;
    height: 50vh;
    margin: 0px;
    font-size: 137px;
}

#title{
    width: 100vw;
    height: 25vh;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}

#timeLeft{
    width: 100vw;
    height: 25vh;
    margin: 0px;
    font-size: 21px;
    font-weight: bold;
}
